.auth-modal {
  text-align: center;
  .modal-body{
    margin-left: 15px;
    margin-right: 15px;
    button{
      width: 100%;
    }
    form{
      width: 100%;
      display: table;
      p{
        text-align: left;
      }
      button{
        margin: 0 auto;
        vertical-align: middle;
        display: block;
      }
    }
  }
}

