<div class="container">
  <br/>
  <div class="page-content">
    <h1>About</h1>
  </div>
  <br/>
  <br/>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <p>This is a simple MEAN stack application that demonstrates Two-Factor Authentication with 
      <a href="https://www.twilio.com/authy">Authy</a>.
    </p>
    <br/>
    <p>Two-Factor Authentication is enabled for both login and registration. The following methods are available.</p>
    <ul>
      <li>
        <b>OneTouch </b>
        - If you have registered with an Authy app, you will be able to approve a login or registration request by one tap
        <br>
        on the Authy app's OneTouch screen.
      </li>
      <br/>
      <li>
        <b>SoftToken </b>
        - If you have registered with an Authy app you can choose to use the generated SoftTokens to verify.
      </li>
      <br/>
      <li>
        <b>SMS </b>
        - If you haven't registered with an Authy app, an SMS will be sent to your mobile number.
      </li>
      <br/>
    </ul>
    <p>
      <b>Note: </b>
      A valid country code and phone number are required in the registration process, to continue with logging in.
    </p>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <p>
      For sources and more information, visit the github page:
      <br/>
    </p>
    <p>
      <i class="fa fa-github" style="font-size:24px"></i>&nbsp;
      <a href="https://github.com/sachie/auth-demo">github.com/sachie/auth-demo</a>
    </p>
    <br/>
    <p>Contact the developer:</p>
    <i class="fa fa-envelope" style="font-size:24px"></i>&nbsp;
    <a href="mailto:sachindra.ariyasinghe@gmail.com" target="_top">sachindra.ariyasinghe@gmail.com</a>
  </div>
  <div class="col-md-1"></div>
</div>