<div ng-switch="authState" ng-init="authState = 'login'">
  <div ng-switch-when="login" class="modal-content auth-modal">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="modal-title">Login</h3>
    </div>
    <div class="modal-body">
      <br/>
      <form ng-submit="submit(_email, _password)" name="loginForm" data-toggle="validator">
        <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$touched &&
      loginForm.email.$invalid}">
          <input type="email" class="form-control" placeholder="Email" name="email" ng-model="_email" required/>
          <p ng-show="loginForm.email.$touched && loginForm.email.$invalid" class="help-block">Please enter a valid email.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$touched &&
      loginForm.password.$invalid}">
          <input type="password" class="form-control" placeholder="Password" name="password" ng-model="_password" required/>
          <p ng-show="loginForm.password.$touched && loginForm.password.$invalid" class="help-block">Please enter a valid password.</p>
        </div>
        <button class="btn btn-success">Login</button>
      </form>
      <br/> Don't have an account yet? <a href="#" ng-click="switchToSignUp()">Sign up</a>
      <hr/> Or connect with: <br/><br/>
      <button class="btn btn-primary">Facebook</button><br/><br/>
      <button class="btn btn-danger">Google</button>
    </div>
  </div>
  <div ng-switch-when="signup" class="modal-content auth-modal">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="modal-title">Sign up</h3>
    </div>
    <div class="modal-body">
      <br/>
      <form ng-submit="submit(_email, _password)" name="signupForm" data-toggle="validator">
        <div class="form-group" ng-class="{ 'has-error' : signupForm.firstName.$touched &&
      signupForm.firstName.$invalid}">
          <input type="text" class="form-control" placeholder="First Name" name="firstName" ng-model="_firstName" required/>
          <p ng-show="signupForm.firstName.$touched && signupForm.firstName.$invalid" class="help-block">First name is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : signupForm.lastName.$touched &&
      signupForm.lastName.$invalid}">
          <input type="text" class="form-control" placeholder="Last Name" name="lastName" ng-model="_lastName" required/>
          <p ng-show="signupForm.lastName.$touched && signupForm.lastName.$invalid" class="help-block">Last name is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$touched &&
      signupForm.email.$invalid}">
          <input type="email" class="form-control" placeholder="Email" name="email" ng-model="_email" required/>
          <p ng-show="signupForm.email.$touched && signupForm.email.$invalid" class="help-block">A valid email is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$touched &&
      signupForm.password.$invalid}">
          <input type="password" class="form-control" placeholder="Password" pattern=".{6,}" name="password" ng-model="_password" required/>
          <p ng-show="signupForm.password.$touched && signupForm.password.$invalid" class="help-block">A valid password is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : signupForm.confirmPassword.$touched &&
      signupForm.confirmPassword.$invalid}">
          <input type="password" class="form-control" placeholder="Password" name="confirmPassword" ng-model="_confirmPassword" compare-to="_password" required />
          <p ng-show="signupForm.confirmPassword.$touched && signupForm.confirmPassword.$invalid" class="help-block">Passwords do not match.</p>
        </div>
        <button class="btn btn-success" ng-disabled="signupForm.$invalid">Sign up</button>
      </form>
      <br/> Already have an account? <a href="#" ng-click="switchToLogin()">Login</a><br/><br/>
    </div>
  </div>
</div>